[submodule "bundle/rst-tables"]
	path = bundle/rst-tables
	url = https://github.com/nvie/vim-rst-tables.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "bundle/mustang"]
	path = bundle/mustang
	url = https://github.com/croaker/mustang-vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/distinguished"]
	path = bundle/distinguished
	url = https://github.com/Lokaltog/vim-distinguished
[submodule "bundle/summerfruit"]
	path = bundle/summerfruit
	url = https://github.com/baeuml/summerfruit256.vim
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
